@font-face {
    font-family: 'Caveat';
    src: url('public/fonts/Caveat.ttf') format('truetype');
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('public/fonts/SofiaSans.ttf') format('truetype');
}

.efs {
    font-family: 'Caveat', serif;
    font-size: 1.4em;
}

.flex {
    display: inline-block;
    vertical-align: top;
}

.efs.text-input, .efs.select {
    background-color: transparent;
    border-width: 0 0 1px 0;
    min-height: 1.4em;
    min-width: 2.5em;
}

.efs.text-input.short {
    max-width: 1em;
    min-width: 0em;
}

.efs.clickable {
    font-weight: bold;
    cursor: pointer;
}

.heroic-btn-image {
    background-image:url("public/images/heroic_fire.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    filter: sepia(1);
    cursor: pointer;
}

.heroic-btn-image:hover {
    filter: sepia(1) drop-shadow(0px 0px 4px black);
}

.heroic-btn-image.active:hover {
    filter: drop-shadow(0px 0px 4px black);
}

.heroic-btn-image.active {
    filter: none;
}

.approaches {
    display: flex;
    align-items: center;
}

.heroic-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
}

.heroic-mode span.active {
    text-shadow: 0 0 red;
}