<form class="{{cssClass}}" autocomplete="off">
    <section class="efs content">
        <div class="header">
            <div class="flex">
                <div>
                    <span class="efs label">{{ localize 'EFS.Character.Name' }}</span>
                    <input name="name" class="efs text-input" value="{{actor.name}}"/>
                </div>
                <div>
                    <span class="efs label">{{ localize 'EFS.Character.Class' }}</span>
                    <input name="data.class" class="efs text-input" value="{{data.class}}"/>
                </div>
                <div>
                    <span class="efs label">{{ localize 'EFS.Character.DP' }}</span>
                    <input name="data.defeatPoints" class="efs text-input  short" value="{{data.defeatPoints}}"/>/
                    <input name="data.dp.max" class="efs text-input short" value="{{data.dp.max}}"/>
                </div>
            </div>
            <div class="flex">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="128"/>
            </div>
        </div>
        <div class="approaches">
            <div class="approaches-list">
                <h2 class="efs">{{localize 'EFS.Approaches.Plural'}}</h2>
                <div>
                    <span id="brutal" class="efs label clickable">{{ localize 'EFS.Approaches.Brutal' }}</span>
                    <select class="efs select" name="data.approaches.brutal">
                        {{#select data.approaches.brutal}}
                        <option value="6">d6</option>
                        <option value="8">d8</option>
                        <option value="10">d10</option>
                        <option value="12">d12</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <span id="flexible" class="efs label clickable">{{ localize 'EFS.Approaches.Flexible' }}</span>
                    <select class="efs select" name="data.approaches.flexible">
                        {{#select data.approaches.flexible}}
                        <option value="6">d6</option>
                        <option value="8">d8</option>
                        <option value="10">d10</option>
                        <option value="12">d12</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <span id="smart" class="efs label clickable">{{ localize 'EFS.Approaches.Smart' }}</span>
                    <select class="efs select" name="data.approaches.smart">
                        {{#select data.approaches.smart}}
                        <option value="6">d6</option>
                        <option value="8">d8</option>
                        <option value="10">d10</option>
                        <option value="12">d12</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <span id="charismatic"
                          class="efs label clickable">{{ localize 'EFS.Approaches.Charismatic' }}</span>
                    <select class="efs select" name="data.approaches.charismatic">
                        {{#select data.approaches.charismatic}}
                        <option value="6">d6</option>
                        <option value="8">d8</option>
                        <option value="10">d10</option>
                        <option value="12">d12</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="heroic-mode">
                <div class="heroic-btn-image heroic-mode {{#if heroic}}active{{/if}}"></div>
                <span class="{{#if heroic}}active{{/if}}">{{localize 'EFS.HeroicMoment'}}</span>
            </div>
        </div>
    </section>
</form>